################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea
/cmake-build-debug
/out
/build
/reference

opencv/
